In [1]:
# RESHAPING DADOS

import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range("20200101", periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=datas, columns=["Var A","Var C","Var B","Var D"])

In [3]:
df

               Var A     Var C     Var B     Var D
2020-01-01  0.003918 -0.481421 -1.201287 -0.279982
2020-01-02 -0.153103 -0.010286  0.939870  0.286870
2020-01-03 -0.673451 -1.052132  0.347747 -1.232808
2020-01-04 -0.712267 -0.874423 -1.850322 -0.204436
2020-01-05 -1.686123  0.256121  1.426531  2.153552
2020-01-06 -0.685133 -0.336377 -0.747649  0.075873

In [5]:
df_T = df.T # Transpor

In [6]:
df.shape

(6, 4)

In [7]:
df_T.shape

(4, 6)

In [8]:
df_T.values

array([[ 0.00391803, -0.15310323, -0.67345095, -0.71226673, -1.68612272,
        -0.68513319],
       [-0.48142126, -0.01028552, -1.05213165, -0.87442285,  0.25612134,
        -0.33637714],
       [-1.20128724,  0.93987012,  0.34774674, -1.85032159,  1.42653145,
        -0.74764933],
       [-0.27998233,  0.28687021, -1.23280766, -0.20443623,  2.15355233,
         0.07587267]])

In [10]:
np.size(df_T.values)

24

In [11]:
v = df_T.values

In [16]:
r = v.reshape((2,12)) # 2 vezes 12 da 24 que Ã© o size que tem que dar

In [17]:
df2 = pd.DataFrame(r)
df2

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.003918,-0.153103,-0.673451,-0.712267,-1.686123,-0.685133,-0.481421,-0.010286,-1.052132,-0.874423,0.256121,-0.336377
1,-1.201287,0.939870,0.347747,-1.850322,1.426531,-0.747649,-0.279982,0.286870,-1.232808,-0.204436,2.153552,0.075873