In [1]:
# IMPORTANDO E EXPORTANDO

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/alves/OneDrive/Área de Trabalho/Udemy/iris.data")

In [3]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [6]:
# Importar excel e tornar csv

e_df = pd.read_excel("C:/Users/alves/OneDrive/Área de Trabalho/python/pandas/Gerentes.xlsx")

In [7]:
e_df.head(4)

                      ID Loja   Gerente
0          Iguatemi Esplanada  Salvador
1              Norte Shopping     Joana
2  Rio Mar Shopping Fortaleza     Maria
3              Shopping Barra   Letícia

In [8]:
e_df.to_csv("teste.csv")

In [9]:
e_df = pd.read_csv("teste.csv")

In [ ]:
e_df