In [1]:
# Groupby
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({"A": ["verdadeiro", "falso","verdadeiro", "falso","verdadeiro", "falso","verdadeiro", "falso"],
                   "B": ["um", "um","dois", "tres","dois", "dois","um", "tres"],
                   "C": np.random.randn(8),
                   "D": np.random.randn(8)})

In [4]:
df

            A     B         C         D
0  verdadeiro    um -0.462653  0.298194
1       falso    um -1.541575  1.144567
2  verdadeiro  dois -0.940459  0.379709
3       falso  tres -0.991017  1.201093
4  verdadeiro  dois  1.013290  0.012950
5       falso  dois -0.782985  0.265220
6  verdadeiro    um  1.834873  0.079889
7       falso  tres -0.023393 -0.669541

In [7]:
soma_a = df.groupby(["A"]).sum()

In [10]:
soma_a

                   C         D
A
falso      -3.338970  1.941339
verdadeiro  1.445051  0.770742

In [11]:
med_a = df.groupby(["A"]).mean()

In [12]:
med_a

                   C         D
A
falso      -0.834743  0.485335
verdadeiro  0.361263  0.192686

In [13]:
desv_a = df.groupby(["A"]).std()

In [14]:
desv_a

                   C         D
A
falso       0.628490  0.881114
verdadeiro  1.287114  0.174296

In [15]:
soma_b = df.groupby(["B"]).sum()

In [16]:
soma_b

             C         D
B
dois -0.710154  0.657880
tres -1.014410  0.531552
um   -0.169355  1.522649

In [17]:
soma_ab = df.groupby(["A","B"]).sum()

In [18]:
soma_ab

                        C         D
A          B
falso      dois -0.782985  0.265220
           tres -1.014410  0.531552
           um   -1.541575  1.144567
verdadeiro dois  0.072831  0.392660
           um    1.372220  0.378082

In [19]:
soma_ba = df.groupby(["B","A"]).sum()

In [20]:
soma_ba

                        C         D
B    A
dois falso      -0.782985  0.265220
     verdadeiro  0.072831  0.392660
tres falso      -1.014410  0.531552
um   falso      -1.541575  1.144567
     verdadeiro  1.372220  0.378082