In [ ]:
import pandas as pd

In [ ]:
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500,300],
         'produto': ['feij達o', 'arroz'],
         'qtde': [50, 70]
         }
vendas_df = pd.DataFrame(venda)

In [6]:
print(vendas_df)
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feij達o    50
1  16/02/2021    300   arroz    70

         data  valor produto  qtde
0  15/02/2021    500  feij達o    50
1  16/02/2021    300   arroz    70